/**
 * @ROOT
*/
:root {

    /*<------------> 
        #SPACING
    /*------------->*/
    --spacing-35x: 140px;
    --spacing-30x: 120px;
    --spacing-25x: 100px;
    --spacing-23x: 92px;
    --spacing-20x: 80px;
    --spacing-18x: 72px;
    --spacing-16x: 64px;
    --spacing-13x: 52px;
    --spacing-12x: 48px;
    --spacing-10x: 40px;
    --spacing-8x: 32px;
    --spacing-7x: 28px;
    --spacing-6x: 24px;
    --spacing-5x: 20px;
    --spacing-4x: 16px;
    --spacing-3x: 12px;
    --spacing-2x: 8px;
    --spacing-1x: 4px;

    /*<-----------------> 
        - LINE HEIGHT
    /*------------------>*/
    --line-height-headline: 1.1em;
    --line-height-subhead: 1.3em;
    --line-height-body: 1.6em;
    --line-height-label: 1.15em;

    /*<-----------------> 
        - TRACKING
    /*------------------>*/
    --tracking-headline: -0.022em;

    /*<---------------> 
        - RADIUS
    /*---------------->*/
    --radius-full: 999px;
    --radius-lg: 36px;
    --radius-md: 20px;
    --radius-sm: 10px;
    --radius-xs: 5px;
    --radius-btn: 10px;

    /*<-----------------> 
        - TYPOGRAPHY
    /*------------------>*/
    --ff-primary: "Inter", sans-serif;
    --ff-secondary: "poppins", sans-serif;

    --fs-base: 0.7rem;
    --fs-h1: 3.8rem;
    --fs-h2: 2.45rem;
    --fs-h3: 1.75rem;
    --fs-h4: 1.435rem;
    --fs-h5: 1.65rem;
    --fs-subhead: 2.45rem;
    --fs-title: 1.45rem;
    --fs-body: 1.325rem;
    --fs-small: 1.25rem;
    --fs-btn: 1.43rem;

    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;

    /*<----------> 
        - COLOR
    /*----------->*/
    --blue: #379EFF;
    --blue-light: #e9faff;
    --black-1: #0B090A;
    --black-2: #2b2b2b;
    --grey-100: #e9e9e9;
    --grey-200: rgba(212, 212, 212, 4%);
    --grey-300: #AAAAAA;
    --grey-400: #808080;
    --white: #fff;

    --color-text-accent: var(--blue);
    --color-text-body: var(--grey-400);
    --color-text-primary: var(--black-1);
    --color-text-secondary: var(--black-2);
    --color-text-label: var(--grey-200);
    --color-text-label-dark: var(--grey-300);
    --color-text-white: #fff;

    --color-bg-primary: var(--blue);
    --color-bg-primary-light: var(--blue-light);
    --color-bg-secondary: var(--black-1);
    --color-bg-white: #f1f5f9;
    --color-bg-grey-400: var(--grey-400);
    --color-bg-grey-300: var(--grey-300);
    --color-bg-grey-200: var(--grey-200);
    --color-bg-grey-100: var(--grey-100);

    --color-border-grey-200: var(--grey-200);
    --color-border-grey-100: var(--grey-100);
    --color-border-blue: var(--blue);

    /*<--------------------> 
        - Box Shadow
    /*--------------------->*/
    --shadow-1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --shadow-2: 0px -3px 20px rgba(22, 22, 22, 0.2);
    --shadow-3: rgba(0, 0, 0, 0.02) 0px 5px 15px -3px, rgba(0, 0, 0, 0.02) 0px 15px 6px -2px;
    --shadow-4: 4px 10px 30px rgba(0, 0, 0, 0.1);
    --shadow-5: 1px 1px 25px 0px rgba(142, 141, 141, 0.085);


    /*<-------------------------> 
       - Animation | Transition
    /*-------------------------->*/
    --transition-1: 0.3s ease-in-out;
    --transition-2: 0.3s ease;
    --transition-3: 0.5s ease;
}

/**
 * BLOCK
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    width: 220px;
    background-color: rgb(230, 230, 230);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(177, 177, 177);
}


html {
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg-white);
    color: var(--color-text-body);
    font-size: var(--fs-body);
    line-height: var(--line-height-body);
    overflow-x: hidden;
}


a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    outline: none;
}

input,
select {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-size: inherit;
}


img {
    max-width: 100%;
    height: auto;
}

li {
    font-size: inherit;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: var(--tracking-headline);
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: var(--line-height-body);
}

p {
    color: inherit;
    font-size: inherit;
}


/**
 * ELEMENTS & MODIFIERS | UTILITIES
*/

.l-container {
    padding-inline: var(--spacing-5x);
}

.l-inner {
    padding-block: var(--spacing-20x);
}

.l-grid {
    display: grid;
}

.l-flex-row {
    display: flex;
}

.l-flex-col {
    display: flex;
    flex-direction: column;
}

.u-justify-between {
    justify-content: space-between;
}

.u-justify-center {
    justify-content: center;
}

.u-align-center {
    align-items: center;
}

.u-pull-center {
    align-items: center;
    justify-content: center;
}

.u-headline-lg {
    color: var(--color-text-primary);
    font-size: var(--fs-h1);
    font-weight: var(--fw-700);
    line-height: var(--line-height-headline);
    margin-block: var(--spacing-3x)
}

.u-headline-md {
    color: var(--color-text-secondary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-600);
    line-height: var(--line-height-subhead);
    margin-block: var(--spacing-3x)
}

.u-headline-sm {
    font-size: var(--fs-h5);
    line-height: var(--line-height-subhead);
}

.u-section-text {
    color: var(--color-bg-primary);
}

.btn {
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    font-size: var(--fs-btn);
    width: max-content;
    -webkit-tap-highlight-color: transparent;
}

.btn--icon {
    gap: var(--spacing-2x);
}

.btn--sm {
    height: 40px;
    padding-inline: var(--spacing-5x);
}

.btn--md {
    height: 45px;
    padding-inline: var(--spacing-6x);
}

.btn--lg {
    height: 50px;
    padding-inline: var(--spacing-8x);
}

.btn--pill {
    border-radius: var(--radius-full);
}

.btn--primary {
    background-color: var(--color-bg-primary);
    color: var(--color-text-white);
    transition: opacity var(--transition-1);
    -webkit-transition: opacity (--transition-1);
}

.btn--primary:hover {
    opacity: 0.8;
}

.btn--outline {
    background-color: var(--color-bg-white);
    border: 1px solid var(--color-border-blue);
    color: var(--color-text-accent);
    position: relative;
    transition: color var(--transition-3);
    -webkit-transition: color (var(--transition-3));
    z-index: 1;
}

.btn--outline:hover {
    color: var(--color-text-white);
}

.btn--outline::after {
    border-radius: var(--radius-full);
    box-shadow: inset 0px 0px 0px var(--color-bg-primary);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: box-shadow var(--transition-2);
    -webkit-transition: box-shadow var(--transition-2);
    width: 100%;
    z-index: -1;
}

.btn--outline:hover::after {
    box-shadow: inset 300px 0px 0px var(--color-bg-primary);
    color: var(--color-text-white);
}


/* Boxicon reset */
.bx {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Header  */
.header {
    background-color: var(--color-bg-white);
    box-shadow: none;
    left: 0;
    padding: var(--spacing-5x) var(--spacing-4x);
    position: fixed;
    top: 0;
    transition: box-shadow var(--transition-2);
    width: 100%;
    -webkit-transition: box-shadow var(--transition-2);
    z-index: 4;
}

.header.is-active {
    box-shadow: var(--shadow-3);
}


.navbar-logo {
    display: none;
}

.header__banner {
    display: none;
}

.navbar__mobile {
    line-height: 0;
}

.navbar__drawer {
    background-color: var(--color-bg-white);
    height: 1px;
    overflow: hidden;
    padding: 0 var(--spacing-5x);
    text-align: center;
    transition: padding var(--transition-2);
    -webkit-transition: padding var(--transition-2);
}

.navbar__drawer.is-open {
    height: 100%;
    padding-block: var(--spacing-10x) var(--spacing-1x);
}

.navbar__list {
    gap: var(--spacing-4x);
}

.navbar__action {
    margin-block-start: var(--spacing-10x);
    align-items: center;
    justify-content: center;
}

.navbar__menu {
    gap: 6px;
    height: 100%;
    position: relative;
    width: 24px;
}

.navbar__menu-bar {
    background-color: var(--color-bg-secondary);
    border-radius: var(--radius-xs);
    height: 2.5px;
    transition: all var(--transition-3);
    -webkit-transition: all var(--transition-3);
    width: 100%;

}

.navbar__menu-bar.is-active {
    position: relative;
    transform: rotate(-45deg);
    transform-origin: center center;
    top: 7.3px;
}

.navbar__menu-bar.is-active:nth-child(2) {
    height: 0;
    opacity: 0;
    transform: unset;
    width: 0;
}

.navbar__menu-bar.is-active:last-child {
    transform: rotate(45deg);
    top: -7.3px;
}

.navbar__icon-inline {
    padding-inline-end: var(--spacing-1x);
    font-size: var(--fs-body);
}

.navbar__link {
    font-size: 1.45rem;
    font-weight: var(--fw-600);
    color: var(--color-text-secondary);
    transition: opacity var(--transition-2);
    -webkit-transition: opacity var(--transition-2);
    opacity: 1;
}

.navbar__link:hover {
    opacity: 0.6;
}

.navbar__btn {
    margin-block-start: var(--spacing-4x);
}


/* Olw carousel reset  */
.owl-item img {
    height: 100%;
    object-fit: cover;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-dots {
    padding-block-start: 0;
}

.owl-dots button.owl-dot {
    background-color: var(--color-bg-white);
    border-radius: 4px;
    display: inline-flex;
    height: 4px;
    margin-inline-end: var(--spacing-4x);
    width: 55px;
}

.owl-dots button.owl-dot span {
    display: none !important;
}

.owl-dots button.owl-dot:last-child {
    margin-inline-end: 0;
}

.owl-dots button.owl-dot.active {
    background-color: var(--color-bg-primary);
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

.owl-nav button {
    align-items: center;
    background: var(--color-bg-white) !important;
    border-radius: var(--radius-full) !important;
    display: inline-flex;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all var(--transition-1);
    -webkit-transition: all var(--transition-1);
    width: 40px;
}

.owl-nav button.owl-prev {
    left: 0;
}

.owl-nav button.owl-next {
    right: 0;
}

.owl-nav button:active {
    outline: none;
}

.owl-item {
    height: auto !important;
    display: flex;
}

.item {
    width: 100%;
}

/* Hero  */
.hero {
    background-image: url('/assets/images/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    margin-block-start: var(--spacing-16x);
}

.hero__inner {
    padding-block-end: 0 !important;
}

.hero__content {
    overflow: hidden;
}

.hero__carousel {
    background-image: url('/assets//images/banner-bg.png');
    background-position: 80% 4%;
    background-repeat: no-repeat;
    background-size: 15%;
    padding-block-start: var(--spacing-10x);
}

.hero__icon {
    color: var(--color-text-label-dark);
    transition: color var(--transition-2);
    -webkit-transition: color var(--transition-2);
}

.hero__icon:hover {
    color: var(--color-text-accent);
}

.hero__stats {
    gap: var(--spacing-4x);
    margin-block-start: var(--spacing-10x);
}

.hero__stats-col {
    background-color: var(--color-bg-white);
    border-radius: var(--radius-full);
    color: var(--color-text-secondary);
    font-weight: var(--fw-500);
    padding: var(--spacing-4x) var(--spacing-6x);
    max-width: 280px;
    width: 100%;
}

.hero__stats-text {
    margin-inline-start: var(--spacing-3x);
}

.hero__avatar-group {
    position: relative;
    width: 50%;
}

.hero__avatar {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero__avatar:first-child {
    left: 0;
}

.hero__avatar:nth-child(2) {
    left: 20px;
}

.hero__avatar:nth-child(3) {
    left: 40px;
}

.hero__avatar:nth-child(4) {
    left: 60px;
}

.hero__avatar:nth-child(5) {
    left: 80px;
}

.hero-listing {
    box-shadow: var(--shadow-1);
}


.form {
    background-color: var(--color-bg-white);
    border-radius: var(--radius-md);
    margin-block-start: var(--spacing-8x);
    box-shadow: var(--shadow-4);
}

.form__tabs-list {
    border-bottom: 1px solid var(--color-border-grey-200);
    gap: var(--spacing-16x);
    margin-block-end: var(--spacing-5x);
    padding: var(--spacing-6x)var(--spacing-6x) var(--spacing-3x);
}

.form__tabs-item {
    width: 50%;
    text-align: center;
}

.form__tabs-checkbox {
    appearance: none;
    position: absolute;
}

.form__tabs-checkbox:checked+.form__label {
    color: var(--color-text-accent);
}

.form__tabs-checkbox:checked+.form__label::before {
    border-color: var(--color-border-blue);
}

.form__label {
    cursor: pointer;
    font-weight: var(--fw-500);
    position: relative;
}

.form__label::after {
    bottom: -15px;
    content: "";
    height: 30px;
    left: 0;
    position: absolute;
    width: 100%;
}

.form__label:before {
    border: 2px solid transparent;
    border-radius: var(--radius-xs);
    content: "";
    position: absolute;
    bottom: -17px;
    left: 50%;
    width: 90px;
    transition: all var(--transition-3);
    -webkit-transition: all var(--transition-3);
    transform: translateX(-50%);
}

.form__input-group {
    gap: var(--spacing-3x);
    padding: 0 var(--spacing-5x) var(--spacing-5x);
}

.form__control {
    height: 45px;
    border: 1px solid var(--color-border-grey-100);
    padding-inline: var(--spacing-4x);
    border-radius: var(--radius-xs);
    color: var(--color-text-primary);
}

.form__control::placeholder {
    color: var(--color-text-label-dark);
    opacity: 0.6;
}

.form-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/assets/images/arrow-down.png');
    background-repeat: no-repeat;
    background-position: calc(100% - var(--spacing-4x)) center;
    background-size: var(--spacing-5x);
}

.form__filter {
    margin-block: var(--spacing-4x);
    color: var(--color-text-accent);
}

.form__icon {
    margin-inline-end: var(--spacing-2x);
}

.form__btn {
    width: 100%;
}

/* Trusted Companies | Clients */
.clients__inner {
    overflow: hidden;
}

.clients__headline {
    font-weight: var(--fw-500);
    text-align: center;
    margin-block-end: var(--spacing-6x);
    max-width: 250px;
    margin-inline: auto;
}

.clients__brand {
    animation: moveLeft 25s linear infinite forwards;
    gap: var(--spacing-8x);
    user-select: none;
}

.clients__img {
    width: 150px;
}

@keyframes moveLeft {
    from {
        transform: translateX(110%);
    }

    to {
        transform: translateX(-768px);
    }
}

/* About | who we are */
.about__headline {
    margin-block: var(--spacing-3x);
}

.about__inner {
    gap: var(--spacing-8x);
}

.about__gallery {
    gap: var(--spacing-3x);
    grid-template-areas:
        "pool bed"
        "pool couch";
}

.about__img {
    width: 100%;
}

.about-img-pool {
    grid-area: pool;
}

.about-img-bed {
    grid-area: bed;
}

.about-img-couch {
    grid-area: couch;
}

.about__list {
    gap: var(--spacing-6x);
}

.about__item {
    gap: var(--spacing-4x);
}

.about__title {
    color: var(--color-text-accent);
    font-size: var(--fs-title);
    margin-block-end: var(--spacing-1x);
}

/* Listed Properties  */
.properties__header {
    gap: var(--spacing-8x);
}

.properties__input {
    display: none;
}

.properties__input:checked+label {
    background-color: var(--color-bg-primary);
    color: var(--color-text-white);
}

.properties-selector {
    gap: var(--spacing-4x);
}

.properties__list {
    gap: var(--spacing-8x);
    margin-block-start: var(--spacing-8x);
}

.properties__item {
    background-color: var(--color-bg-white);
    border-radius: var(--radius-md);
    gap: var(--spacing-2x);
}

.properties__item:hover .properties__img {
    transform: scale(1.05);
}

.properties__cover {
    border-radius: var(--radius-md);
    margin-block-end: var(--spacing-2x);
    overflow: hidden;
}

.properties__img {
    width: 100%;
    transition: transform 1.2s ease;
    -webkit-transition: transform 1.2s ease;
}

.properties__price,
.properties__title {
    color: var(--color-text-secondary);
    font-size: var(--fs-title);
    font-weight: var(--fw-600);
}

.properties__price {
    font-size: var(--fs-h3);
}

.properties__features {
    color: var(--color-text-secondary);
    gap: var(--spacing-6x);
}

.properties__icon {
    color: var(--color-text-secondary);
    margin-inline-end: var(--spacing-2x);
}

.properties__btn {
    align-self: center;
    margin-block-start: var(--spacing-16x);
}

/* Services  */

.services {
    background-color: var(--color-border-grey-200);
}

.services__inner {
    text-align: center;
}

.services__headline {
    max-width: 250px;
    margin-inline: auto;
}

.services__list {
    margin-block-start: var(--spacing-10x);
    gap: var(--spacing-8x);
}

.services__item {
    background-color: var(--color-bg-white);
    border-radius: var(--radius-sm);
    text-align: center;
    padding: var(--spacing-5x) var(--spacing-6x);
    box-shadow: var(--shadow-5);
    position: relative;
    overflow: hidden;
    user-select: none;
}

.services__item::after {
    background-color: var(--color-bg-primary);
    bottom: 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    transition: width var(--transition-3);
    -webkit-transition: width var(--transition-3);
    width: 0px;
}

.services__item:hover::after {
    width: 100%;
}

.services__title {
    font-size: 1.75rem;
    font-weight: var(--fw-500);
    color: var(--color-text-secondary);
    margin-block-end: var(--spacing-3x);
}

/* Neighborhood  */
.neighborhood__inner {
    background-image: url('/assets/images/banner-bg.png');
    background-position: 85% 5%;
    background-repeat: no-repeat;
    background-size: 15%;
}

.neighborhood__headline {
    margin-block-end: 0;
}

.neighborhood__list {
    background-image: url('/assets/images/neighbour-bg.png');
    background-position: 98% 100%;
    background-repeat: no-repeat;
    background-size: 15%;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-3x);
    margin-block-start: var(--spacing-10x);
}

.neighborhood__item {
    border-radius: var(--radius-md);
    height: 100%;
    transition: transform var(--transition-3);
    -webkit-transition: transform var(--transition-3);
    user-select: none;
}

.neighborhood__item:hover {
    transform: scale(1.04);
}

.neighborhood__item:last-child {
    grid-column: 1 / 3;
}

.neighborhood__cover {
    border-radius: var(--radius-md);
    height: 100%;
    overflow: hidden;
    position: relative;
}

.neighborhood__cover::after {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: var(--radius-sm);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}

.neighborhood__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.neighborhood__title {
    bottom: var(--spacing-4x);
    color: var(--color-text-white);
    font-size: var(--fs-subhead);
    font-weight: var(--fw-700);
    left: var(--spacing-4x);
    position: absolute;
    z-index: 2;
}

.neighborhood__title--small {
    display: block;
    font-size: var(--fs-small);
    font-weight: var(--fw-500);
}

/* Team  */

.team__inner {
    text-align: center;
}

.team__list {
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-8x) var(--spacing-4x);
    margin-block-start: var(--spacing-10x);
    flex-wrap: wrap;
}

.team__item {
    color: var(--color-text-accent);
    font-size: var(--fs-small);
    width: 40%;
}

.team__title {
    color: var(--color-text-secondary);
    font-size: var(--fs-h4);
    font-weight: var(--fw-600);
    margin-block: var(--spacing-1x) 0;
}

.team__img {
    border-radius: var(--radius-full);
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
}

/* Blog */
.blog {
    background-color: var(--color-bg-primary);
}

.blog__inner {
    text-align: center;
}

.blog__section-text {
    color: var(--color-text-white);
}

.blog__headline {
    color: var(--color-text-white);
    margin-block-end: 0;
}

.blog__list {
    gap: var(--spacing-8x);
    margin-block: var(--spacing-10x);
}

.blog__item {
    color: hsl(0deg 0% 100% / 70%);
    gap: var(--spacing-4x);
    text-align: left;
}

.blog__cover {
    display: flex;
    position: relative;
}


.blog__cover::after {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: var(--radius-md);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}


.blog__tag {
    background-color: var(--color-bg-white);
    border-radius: var(--radius-sm);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: var(--color-text-label-dark);
    font-size: var(--fs-small);
    left: 10%;
    line-height: normal;
    padding: var(--spacing-2x) var(--spacing-3x);
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 2;
}

.blog__date {
    color: var(--color-text-secondary);
    font-weight: var(--fw-600);
    font-size: var(--fs-body);
}

.blog__img {
    width: 100%;
}

.blog__title {
    color: var(--color-text-white);
    font-size: var(--fs-h4);
    font-weight: var(--fw-500);
}

.blog__btn {
    border: 0;
    display: none;
}

.blog__btn:hover::after {
    box-shadow: inset 300px 0px 0px var(--color-bg-secondary);
}

.blog-more-btn {
    display: flex;
}

/* Testimonials */
.testimonials button.owl-dot {
    background-color: var(--color-bg-grey-100);
}

.testimonials button.owl-dot.active {
    background-color: var(--color-bg-secondary);
}

.testimonials__inner {
    overflow: hidden;
}

.testimonials__btn {
    display: none;
}

.testimonials__list {
    background-image: url('/assets/images/neighbour-bg.png');
    background-position: 75% 7%;
    background-repeat: no-repeat;
    background-size: 15%;
    padding-block-start: var(--spacing-10x);
}

.testimonials__item {
    background-color: var(--color-bg-white);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-5);
    color: var(--color-text-secondary);
    font-weight: var(--fw-500);
    margin: var(--spacing-2x);
    padding: var(--spacing-5x);
}

.testimonials__icon {
    height: 35px !important;
    margin-block: var(--spacing-3x);
    width: 35px !important;
}

.testimonials__line {
    border-color: var(--color-border-grey-200);
    margin-block: var(--spacing-5x);
    opacity: 0.5;
}

.testimonials__footer {
    gap: var(--spacing-3x);
}

.testimonials__rating {
    color: #FFC700;
    margin-block-start: var(--spacing-1x);
    width: 100%;
}

.testimonials__rating>.bx:last-child {
    color: var(--color-text-label-dark);
}

.testimonials__img {
    width: 50px !important;
}

/* Become Agent  */
.agent__inner {
    background-color: var(--color-bg-primary);
    background-image: url('/assets/images/agent-bg.png');
    background-repeat: no-repeat;
    background-position: 10% 160%;
    background-size: cover;
    border-radius: var(--radius-md);
    color: var(--color-text-white);
    padding: var(--spacing-16x) var(--spacing-6x) 0;
}

.agent__headline {
    color: var(--color-text-white);
}

.agent__btn {
    border: 0;
    margin-block: var(--spacing-8x) var(--spacing-4x);
}

.agent__btn:hover::after {
    box-shadow: inset 300px 0px 0px var(--color-bg-secondary);
}

/* Footer section  */
.footer {
    background-color: var(--color-bg-primary-light);
    font-weight: var(--fw-500);
    text-align: center;
}

.footer__inner {
    padding-block-end: var(--spacing-10x);
}

.footer__navbar {
    display: none;
}

.footer__brand {
    gap: var(--spacing-2x);
}

.footer__logo {
    width: 110px;
}

.footer__address {
    max-width: 200px;
    margin: var(--spacing-3x) auto;
}

.footer__newsletter {
    color: var(--color-text-secondary);
    gap: var(--spacing-3x);
}

.footer__headline,
.footer__title {
    font-weight: var(--fw-600);
    font-size: var(--fs-title);
    margin-block-end: var(--spacing-3x);
}

.footer__form {
    margin-block: var(--spacing-8x);
}

.footer__group {
    background-color: var(--color-bg-white);
    box-shadow: var(--shadow-4);
    border-radius: var(--radius-full);
    height: 55px;
    margin-inline: auto;
    max-width: 320px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.footer__input {
    height: 100%;
    padding-inline-start: var(--spacing-4x);
}

.footer__btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.footer__social {
    gap: var(--spacing-2x);
    margin-block-start: var(--spacing-2x);
}

.footer__icon {
    color: var(--color-text-accent);
    width: 45px;
    height: 45px;
    background-color: transparent;
    transition: all var(--transition-3);
    -webkit-transition: all var(--transition-3);
}

.footer__icon:hover {
    background-color: var(--color-bg-primary);
    color: var(--color-text-white);
}

.footer__terms {
    background-color: var(--color-bg-secondary);
    padding-block: var(--spacing-4x);
}

.footer__terms-list {
    display: none;
}



/*<------------------> 
    - Media Queries
/*------------------->*/

/* @Screen lager than 575px */
@media only screen and (min-width:575px) {

    /* Layout | reusable class */
    .l-container {
        max-width: 545px;
        margin-inline: auto;
    }
}


/* @Screen lager than 768px */
@media only screen and (min-width:768px) {

    /* root  */
    :root {
        --fs-h1: 4.125rem;
        --fs-h2: 3.85rem;
        --fs-h3: 2.415rem;
        --fs-h4: 2.415rem;
        /* --fs-h5: 2.415rem; */
        --fs-subhead: 5.1rem;
        --fs-title: 1.75rem;
        --fs-body: 1.43rem;
    }

    /* Layout | reusable class */
    .l-container {
        max-width: 700px;
        margin-inline: auto;
    }

    .l-inner {
        padding-block: var(--spacing-25x);
    }

    /* Hero  */
    .hero__stats {
        flex-direction: row;
    }

    .hero__stats-col {
        max-width: 300px;
    }

    /* Client */
    .clients__brand {
        gap: var(--spacing-10x);
    }

    .clients__headline {
        margin-block-end: var(--spacing-8x);
    }

    /* About us */
    .about__inner {
        gap: var(--spacing-12x);
    }

    .about__gallery {
        gap: var(--spacing-6x);
    }

    .about__list {
        gap: var(--spacing-8x);
    }

    /* Properties  */

    .properties__desc {
        max-width: 400px;
    }

    .properties__list {
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-10x);
        margin-block-start: var(--spacing-12x);
    }

    /* Services  */
    .services__headline {
        max-width: 100%;
    }

    .services__list {
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-6x);
        margin-block-start: var(--spacing-12x);
    }

    /* Neighborhood  */
    .neighborhood__list {
        gap: var(--spacing-8x);
        margin-block-start: var(--spacing-12x);
    }

    .neighborhood__title {
        bottom: var(--spacing-6x);
        left: var(--spacing-6x);
    }

    .neighborhood__title--small {
        margin-block-start: var(--spacing-4x);
    }

    /* Team  */
    .team__list {
        gap: var(--spacing-8x);
        margin-block-start: var(--spacing-12x);
    }

    /* Blogs  */
    .blog__inner {
        align-items: center;
    }

    .blog__list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--spacing-10x);
        margin-block: var(--spacing-12x);
    }

    .blog__col {
        width: calc(50% - 20px);
    }

    .testimonials__list {
        padding-block-start: var(--spacing-12x);
    }

    /* Agent  */
    .agent__inner {
        background-position: 100%;
        background-size: contain;
        margin-block: var(--spacing-25x);
        padding-block: 0;
    }

    .agent__wrapper {
        flex-direction: row-reverse;
        position: relative;
    }

    .agent__block-text {
        --fs-h2: 2.45rem;
        padding-block: var(--spacing-6x);
        width: 50%;
    }

    .agent__img {
        bottom: 0;
        left: 0;
        position: absolute;
    }

    /* Footer  */
    .footer__inner {
        gap: var(--spacing-6x);
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

    .footer__address {
        margin: var(--spacing-5x) 0;
    }

    .footer__form {
        margin-block-start: 0;
    }

    .footer__brand {
        align-items: start;
        justify-content: start;
    }

    .footer__social {
        justify-content: start;
    }
}


/* @Screen lager than 992px */
@media only screen and (min-width:992px) {

    /* Layout | reusable class */
    .l-container {
        max-width: 960px;
    }

    /* Header  */
    .header {
        position: static;
    }

    .navbar-logo {
        display: block;
    }

    .header__banner {
        display: flex;
        background-color: var(--color-bg-primary);
    }

    .navbar__mobile {
        display: none;
    }

    .navbar__drawer {
        height: 100%;
    }


}